* {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: rgb(27, 27, 27);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comment-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 55px 25px;
  background-color: rgb(22, 22, 22);
  width: 75%;
  height: 100%;
  gap: 10px;
}
h3 {
  position: relative;
  font-size: 50px;
}
.comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  position: relative;
  padding: 10px 0;
}
.comment::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  content: "";
  height: 3px;
}
.comment p {
  font-size: 18px;
  color: rgb(216, 216, 216);
}
button {
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  font-size: 20px;
}
.reply {
  margin-left: 150px;
}
.review {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  justify-items: start;
}
#reply{
  justify-self: end;
}